<div class="notewrapper">

  <div class="note">

    <p><h4 style="padding-left:0px">Begin <big>your targeted journey</big> to get into your dream college!</h4></p>

    <p style="text-align:center;">
    <a href="/YourJourney#other" class="mybuttonsmall" style=" color:white">&nbsp;Grades K-7&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/YourJourney" class="mybuttonsmall" style=" color:white">Grades 8-10</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://calendly.com/geeta-radical/college-strategies" class="mybuttonsmall" style=" color:white">Grades 11-12</a>
    </p>
  </div>
</div>