<header>
  <h1 class="headfont">Radical College Strategies </h1>
  <!--h2 class="headfont">Work Smarter, Get Farther</h2-->
<!--/header>
<div class="navbar"-->
  <div style="float:left">
    <h2 class="headfont" style="padding-left: 35px;">Work Smarter, Get Farther</h2>
  </div>

    <div style="float:right; padding-right:20px">
      
      <div class="gallery">
        <a href="/">HOME</a>
      </div>

      <div class="gallery">
          <a href="/testimonials">TESTIMONIALS</a>
      </div>
      
      <div class="gallery">
        <a href="/CaseStudy">FREE CASE STUDY</a>
     </div> 
     &nbsp;&nbsp;

    </div>
<!--/div-->
</header>

<!-- Put some padding before the body begins -->
<div style="padding:20px"></div>