<header>
  <h1 class="headfont">Radical College Strategies </h1>
  <div style="float:left">
    <h3 class="headfont" style="padding-left: 35px;">Work Smarter, Get Farther</h3>
  </div>

    <div style="float:right; padding-right:20px">
      
      <div class="gallery">
        <a href="/">HOME</a>
      </div>

      <div class="gallery">
          <a href="/Testimonials">TESTIMONIALS</a>
      </div>
      
      <div class="gallery">
        <a href="https://www.skool.com/" target="_blank">LOGIN</a>
    </div>
    
    <div class="gallery">
        <a href="/YourJourney">BEGIN YOUR JOURNEY</a>
     </div> 
     &nbsp;&nbsp;

    </div>
</header>
