<div class="notewrapper">
    <div class="notesmall">
      <div class="gallery" style="padding: 0px;">
        <img src="/images/grades/grades.png" alt="Grades">
      </div>
        
      <div class="gallery_xform" style="padding: 0px;">
        <a href="#middle">
            <img src="/images/grades/mid.png" alt="Middle School">
        </a>
      </div>
          
      <div class="gallery_xform" style="padding: 0px;">
        <a href="#high">
          <img src="/images/grades/high.png" alt="High School">
        </a>
      </div>
        
      <div class="gallery_xform" style="padding: 0px;">
        <a href="#senior">
          <img src="/images/grades/senior.png" alt="Senior">
        </a>
      </div>
    </div>
  </div>