<div class="notewrapper">
    <div class="notesmall">
      <div class="gallery" style="padding: 0px; margin-right: 4px;">
        <img src="/images/grades/grades.png" alt="Grades" style="height:30px; width:auto;">
      </div>
        
      <div class="gallery_xform">
        <a href="#middle">
            <img src="/images/grades/mid.png" alt="Middle School" style="height:30px; width:auto;">
        </a>
      </div>
          
      <div class="gallery_xform">
        <a href="#high">
          <img src="/images/grades/high.png" alt="High School" style="height:30px; width:auto;">
        </a>
      </div>
        
      <div class="gallery_xform">
        <a href="#senior">
          <img src="/images/grades/senior.png" alt="Senior" style="height:30px; width:auto;">
        </a>
      </div>
    </div>
  </div>