<sectionpd id="senior">
    {%- include navbar.html -%}
    
    <h3 style="margin-top:30px;margin-bottom:10px;">(Rising) Seniors: College Applications</h3>
    <h2 style="margin-top:10px;margin-bottom:0px;color:black">How Radical helps you outshine your peers<br>for admissions into top-tier STEM colleges</h2>
    
    <ul class="yes" style="margin-left:100px;">
        
        <li style="margin-bottom:20px">Academics (GPA, SAT/ACT) make only 30% of your application. <br>
            &nbsp;&nbsp;&nbsp; Breathe magic into the remaining 70% to stand out.</li>
        <li style="margin-bottom:20px">Be a top applicant for each college by customizing and aligning to these their principles</li>
        <li style="margin-bottom:20px">Find a strategic opening to each college based on your interests and career goals</li>
        <li>Put together a compelling, cohesive story that showcases your strengths in the <br>
            &nbsp;&nbsp;&nbsp; way colleges want to see, based on your unique background and activities.</li>
    </ul>

    <!--p style="margin-left:140px;color:red">Sorry, there are currently no slots available for new students. <br> Please check back in June 2023.</p-->

    <h4>If you are a rising senior with a strong STEM profile:</h4>
    <p style="text-align:center;">
        <button class="mybutton" style="color:white;" onclick="location.href = '/SessionCollegeApps#schedule';" >
        Book a Free Consultation
        </button>
    </p>

    
    <!--br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br-->
</sectionpd>