<section50 id="middle">
    {%- include navbar.html -%}
    
      <h3 style="margin-top:30px;margin-bottom:10px;">Middle School STEM students (U.S. only):</h3>
      <h2 style="margin-top:10px;margin-bottom:0px;color:black">Do you have clarity on what subjects / major <br> you want to excel in?</h2>
    
    <div class="section50left">
    <h3><img style="width:25px;display:inline;" src="/images/CheckMark.png" /> 
         Yes! <div style="display:inline;font-family:Courier New;font-size:26px;"><b>I</b></div> have 2-3 favorite subjects <br>and want to explore competitions!</h3>
        <ul class="simple">
          <h4 style="color:black">In this short video you will learn to:</h4>
        
        <li style="margin-bottom:10px">Choose impactful & prestigious competitions, not time-sinks</li>
        <li style="margin-bottom:10px">Differentiate yourself early and stand out from your classmates</li>
        <li>Develop a strong foundation to maintain the edge in high school</li>
        </ul>
      <img class="myimg" style="width: 400px;" 
       src="/images/Competition.png" alt="CompetitionVideo" onclick="showPopupMidComp()">
    
        <p style="text-align:center;padding-top:20px">
        <button class="mybutton" style="color:white;" onclick="showPopupMidComp()">
        Get The Video
        </button>
        </p>
    
        <div id="popupMidComp" class="popup">
            <div class="blocker" onclick="hidePopupMidComp()"></div>
            <div class="contents">
    
            <span onclick="hidePopupMidComp()" class="close-button topright">&times;</span>
    
            <form id="myFormMidComp" class="form-container" action="/SessionMidCompetitions/">
                <h3>Yes, Send Me the Free Video Now!</h3>
    
                <label for="email"></label>
                <input style="max-width:270px;margin-left:45px;" type="text" placeholder="Enter Email" name="email" required>
                <p style="font-size:12px;text-align: center;">We do not sell or share your info</p>
                <p style="text-align:center;">
                <button class="mybutton" style="color:white;" type="submit" class="mybutton">Send Me The Video</button>
                </p>
            </form>
            </div>
        </div>
    
        <div id="popup2MidComp" class="popup2">
            <div class="contents">
            <form id="myForm2Comp" class="form-container">
    
              <p><h3>Thank You!</h3></p>
              <button class="mybutton" style="color:white;" type="submit" class="mybutton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submitting...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </form>
            </div>
        </div>
    
    </div>
    
    <div class="section50right">
    <h3><img style="width:23px;display:inline;" src="/images/QuestionMarkBackground.png" /> 
        Ummm ... Do <div style="display:inline;font-family:Courier New;font-size:26px;"><b>I</b></div> really need to <br> worry about that this early?</h3>
        <ul class="simple"><h4 style="color:black">In this short video you will learn:</h4>
        
        <li style="margin-bottom:10px">Why it is critical to narrow down your interests in middle school</li>
        <li style="margin-bottom:10px">Why middle school curriculum does not prepare you sufficiently</li>
        <li>Make your future high school journey targeted and stress-free</li>
        </ul>
    
      <img class="myimg" style="width: 400px;" 
       src="/images/Explore.png" alt="ExploreVideo" onclick="showPopupMidExpl()">
    
        <p style="text-align:center;padding-top:20px">
        <button class="mybutton" style="color:white;" onclick="showPopupMidExpl()">
        Get The Video
        </button>
        </p>
    
        <div id="popupMidExpl" class="popup">
            <div class="blocker" onclick="hidePopupMidExpl()"></div>
            <div class="contents">
    
            <span onclick="hidePopupMidExpl()" class="close-button topright">&times;</span>
    
            <form id="myFormMidExpl" class="form-container" action="/SessionMidExplore/">
                <h3>Yes, Send Me the Free Video Now!</h3>
    
                <label for="email"></label>
                <input style="max-width:270px;margin-left:45px;" type="text" placeholder="Enter Email" name="email" required>
                <p style="font-size:12px;text-align: center;">We do not sell or share your info</p>
                <p style="text-align:center;">
                <button class="mybutton" style="color:white;" type="submit" class="mybutton">Send Me The Video</button>
                </p>
            </form>
            </div>
        </div>
    
        <div id="popup2MidExpl" class="popup2">
            <div class="contents">
            <form id="myForm2Expl" class="form-container">
    
              <p><h3>Thank You!</h3></p>
              <button class="mybutton" style="color:white;" type="submit" class="mybutton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submitting...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </form>
            </div>
        </div>
    
    </div>
    
</section50>